<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACETeam</key>
	<string>009999</string>
	<key>ACM_ICPC</key>
	<string>3a5fcd</string>
	<key>AcademicAffairs</key>
	<string>ff3300</string>
	<key>Ad_Agent</key>
	<string>4a4a4a</string>
	<key>Advertising</key>
	<string>cd4f39</string>
	<key>Advice</key>
	<string>cd6600</string>
	<key>AimBUPT</key>
	<string>383838</string>
	<key>AimGraduate</key>
	<string>330066</string>
	<key>Anhui</key>
	<string>8b4c39</string>
	<key>Announce</key>
	<string>4d4d4d</string>
	<key>Astronomy</key>
	<string>999966</string>
	<key>Athletics</key>
	<string>000099</string>
	<key>AutoMotor</key>
	<string>0000cd</string>
	<key>BBSMan_Dev</key>
	<string>949494</string>
	<key>BBSOpenAPI</key>
	<string>ff0000</string>
	<key>BBShelp</key>
	<string>708090</string>
	<key>BM_Apply</key>
	<string>cd7054</string>
	<key>BM_Market</key>
	<string>848484</string>
	<key>BNU</key>
	<string>ff4500</string>
	<key>BTPending</key>
	<string>228B22</string>
	<key>BTadvice</key>
	<string>388e8e</string>
	<key>BTannounce</key>
	<string>698b22</string>
	<key>BTbt</key>
	<string>6e7b8b</string>
	<key>BTcomic</key>
	<string>cd6839</string>
	<key>BTcomplain</key>
	<string>33ff33</string>
	<key>BTdocument</key>
	<string>668b8b</string>
	<key>BTgame</key>
	<string>663366</string>
	<key>BTmovie</key>
	<string>8b008b</string>
	<key>BTmusic</key>
	<string>636363</string>
	<key>BTreward</key>
	<string>cc6600</string>
	<key>BTshow</key>
	<string>545454</string>
	<key>BTsoftware</key>
	<string>cd3278</string>
	<key>BTsport</key>
	<string>003399</string>
	<key>BTtv</key>
	<string>556B2F</string>
	<key>BUPT</key>
	<string>191970</string>
	<key>BUPTDNF</key>
	<string>00cc00</string>
	<key>BUPTDiscount</key>
	<string>7d7d7d</string>
	<key>BUPTMSTC</key>
	<string>878787</string>
	<key>BUPTNU</key>
	<string>8b0000</string>
	<key>BUPTNet</key>
	<string>2b2b2b</string>
	<key>BUPTPost</key>
	<string>330033</string>
	<key>BUPTSTV</key>
	<string>8b2323</string>
	<key>BUPTStudentUnion</key>
	<string>3333ff</string>
	<key>BUPT_Internet_Club</key>
	<string>cd1076</string>
	<key>BYR</key>
	<string>333399</string>
	<key>BYR12</key>
	<string>6633cc</string>
	<key>BYRCourt</key>
	<string>8b8970</string>
	<key>BYRStar</key>
	<string>8b3a3a</string>
	<key>BYR_Bulletin</key>
	<string>666600</string>
	<key>BYRatSH</key>
	<string>33cc00</string>
	<key>BYRatSZ</key>
	<string>8b5f65</string>
	<key>Badminton</key>
	<string>993333</string>
	<key>Basketball</key>
	<string>D15600</string>
	<key>Beauty</key>
	<string>006633</string>
	<key>Bet</key>
	<string>ff001a</string>
	<key>Billiards</key>
	<string>7171c6</string>
	<key>Blessing</key>
	<string>000080</string>
	<key>BoardGame</key>
	<string>0033ff</string>
	<key>BoardManager</key>
	<string>218868</string>
	<key>Board_Apply</key>
	<string>7a8b8b</string>
	<key>Board_Document</key>
	<string>a1a1a1</string>
	<key>Board_Management</key>
	<string>00688b</string>
	<key>BookTrade</key>
	<string>6e8b3d</string>
	<key>BuptAssociation</key>
	<string>458b74</string>
	<key>BuptWeekly</key>
	<string>cc6633</string>
	<key>CPP</key>
	<string>00cc33</string>
	<key>CStrike</key>
	<string>B22222</string>
	<key>CampusCard</key>
	<string>008B8B</string>
	<key>Cantonese</key>
	<string>8e388e</string>
	<key>Certification</key>
	<string>008C00</string>
	<key>Chess</key>
	<string>999933</string>
	<key>ChineseOrchestra</key>
	<string>ee5c42</string>
	<key>Chongqing</key>
	<string>a0522d</string>
	<key>Circuit</key>
	<string>cc3300</string>
	<key>CivilServant</key>
	<string>5b5b5b</string>
	<key>Clothing</key>
	<string>a3a3a3</string>
	<key>Co_Buying</key>
	<string>515151</string>
	<key>Comic</key>
	<string>473c8b</string>
	<key>Communications</key>
	<string>8b8878</string>
	<key>Complain</key>
	<string>8a8a8a</string>
	<key>ComputerTrade</key>
	<string>8B4513</string>
	<key>Constellations</key>
	<string>607b8b</string>
	<key>Consulting</key>
	<string>6666cc</string>
	<key>Cooperation</key>
	<string>CD5C5C</string>
	<key>Cycling</key>
	<string>cd661d</string>
	<key>DIYLife</key>
	<string>8b795e</string>
	<key>DMDA</key>
	<string>999999</string>
	<key>DV</key>
	<string>666666</string>
	<key>Dancing</key>
	<string>8f8f8f</string>
	<key>Database</key>
	<string>990033</string>
	<key>Debate</key>
	<string>cc6666</string>
	<key>Diablo</key>
	<string>336699</string>
	<key>DigiLife</key>
	<string>616161</string>
	<key>Dota</key>
	<string>4B0082</string>
	<key>EID</key>
	<string>663399</string>
	<key>Economics</key>
	<string>cd5b45</string>
	<key>Embedded_System</key>
	<string>FF4500</string>
	<key>EnglishBar</key>
	<string>53868b</string>
	<key>Entrepreneurship</key>
	<string>8b7765</string>
	<key>Environment</key>
	<string>339933</string>
	<key>FamilyLife</key>
	<string>483d8b</string>
	<key>Feeling</key>
	<string>996600</string>
	<key>Financecareer</key>
	<string>669966</string>
	<key>Financial</key>
	<string>2E8B57</string>
	<key>Flash</key>
	<string>33ff00</string>
	<key>Focus</key>
	<string>292929</string>
	<key>Food</key>
	<string>996633</string>
	<key>Football</key>
	<string>8b8b7a</string>
	<key>FootballManager</key>
	<string>104e8b</string>
	<key>ForumCommittee</key>
	<string>8b8b00</string>
	<key>Friends</key>
	<string>454545</string>
	<key>Fujian</key>
	<string>7a378b</string>
	<key>GSpeed</key>
	<string>000033</string>
	<key>Gansu</key>
	<string>003300</string>
	<key>Ghost</key>
	<string>00cd66</string>
	<key>GoAbroad</key>
	<string>2f4f4f</string>
	<key>GraduateSch</key>
	<string>8b8b83</string>
	<key>GraduateUnion</key>
	<string>cc0033</string>
	<key>Graduation</key>
	<string>333300</string>
	<key>Guangxi</key>
	<string>0000CD</string>
	<key>Guitar</key>
	<string>3CB371</string>
	<key>Guizhou</key>
	<string>4f4f4f</string>
	<key>Gymnasium</key>
	<string>5f9ea0</string>
	<key>Hainan</key>
	<string>b22222</string>
	<key>HardWare</key>
	<string>919191</string>
	<key>Health</key>
	<string>6b8e23</string>
	<key>Hearthstone</key>
	<string>66cc66</string>
	<key>Hebei</key>
	<string>555555</string>
	<key>Henan</key>
	<string>00cc66</string>
	<key>Hero</key>
	<string>00008b</string>
	<key>Home</key>
	<string>339966</string>
	<key>HongFu</key>
	<string>8b1c62</string>
	<key>Houqin</key>
	<string>ee0000</string>
	<key>House</key>
	<string>548b54</string>
	<key>House_Agent</key>
	<string>009933</string>
	<key>Hubei</key>
	<string>006E2E</string>
	<key>Hunan</key>
	<string>969696</string>
	<key>ID</key>
	<string>330099</string>
	<key>INTR</key>
	<string>336633</string>
	<key>IPOC</key>
	<string>a52a2a</string>
	<key>IS</key>
	<string>2F4F4F</string>
	<key>IT</key>
	<string>36393D</string>
	<key>IWhisper</key>
	<string>787878</string>
	<key>InnerMongolia</key>
	<string>00ee00</string>
	<key>Innovation</key>
	<string>660066</string>
	<key>Japanese</key>
	<string>1f1f1f</string>
	<key>Java</key>
	<string>996699</string>
	<key>JiJianChu</key>
	<string>27408b</string>
	<key>Jiangsu</key>
	<string>121212</string>
	<key>Jiangxi</key>
	<string>6BBA70</string>
	<key>Job</key>
	<string>B8860B</string>
	<key>JobInfo</key>
	<string>458b00</string>
	<key>Joke</key>
	<string>5d478b</string>
	<key>Jump</key>
	<string>ee4000</string>
	<key>Junxun</key>
	<string>474747</string>
	<key>KaraOK</key>
	<string>228b22</string>
	<key>KillBar</key>
	<string>008b45</string>
	<key>KoreanWind</key>
	<string>262626</string>
	<key>Kungfu</key>
	<string>cd2626</string>
	<key>LOL</key>
	<string>6c7b8b</string>
	<key>Library</key>
	<string>00008B</string>
	<key>Linux</key>
	<string>00ff33</string>
	<key>LostandFound</key>
	<string>00cd00</string>
	<key>ML_DM</key>
	<string>0033cc</string>
	<key>Makerclub</key>
	<string>8b8386</string>
	<key>MathModel</key>
	<string>008000</string>
	<key>Matlab</key>
	<string>b8860b</string>
	<key>MobileInternet</key>
	<string>DC143C</string>
	<key>MobileTerminalAT</key>
	<string>8b8682</string>
	<key>Movie</key>
	<string>8b4726</string>
	<key>Music</key>
	<string>9c9c9c</string>
	<key>MyBUPT</key>
	<string>8b6969</string>
	<key>NetLiterature</key>
	<string>669999</string>
	<key>NetResources</key>
	<string>0066cc</string>
	<key>NorthEast</key>
	<string>282828</string>
	<key>Notebook</key>
	<string>8B008B</string>
	<key>OfficeTool</key>
	<string>7d26cd</string>
	<key>OnlineGame</key>
	<string>993300</string>
	<key>OracleClub</key>
	<string>33cc66</string>
	<key>Orchestra</key>
	<string>00868b</string>
	<key>OutstandingBM</key>
	<string>663333</string>
	<key>Overseas</key>
	<string>525252</string>
	<key>PCGame</key>
	<string>66cc33</string>
	<key>PMatBUPT</key>
	<string>8b864e</string>
	<key>Paper</key>
	<string>8b7e66</string>
	<key>ParttimeJob</key>
	<string>8b8989</string>
	<key>Peking</key>
	<string>0000ee</string>
	<key>Pet</key>
	<string>ee3b3b</string>
	<key>Philharmonic</key>
	<string>8b7355</string>
	<key>Photo</key>
	<string>696969</string>
	<key>Picture</key>
	<string>339900</string>
	<key>Plant</key>
	<string>1874cd</string>
	<key>Poetry</key>
	<string>008b00</string>
	<key>PopKart</key>
	<string>528b8b</string>
	<key>Progress</key>
	<string>8b636c</string>
	<key>PsyHealthOnline</key>
	<string>006699</string>
	<key>Python</key>
	<string>5e5e5e</string>
	<key>Qinghai</key>
	<string>8b5a00</string>
	<key>Quyi</key>
	<string>8b3a62</string>
	<key>RadioOnline</key>
	<string>ff3333</string>
	<key>Reading</key>
	<string>8b6914</string>
	<key>Recommend</key>
	<string>0d0d0d</string>
	<key>Redcross</key>
	<string>838b83</string>
	<key>Rugby</key>
	<string>990099</string>
	<key>SA</key>
	<string>993399</string>
	<key>SCDA</key>
	<string>171717</string>
	<key>SCS</key>
	<string>575757</string>
	<key>SEE</key>
	<string>000066</string>
	<key>SEM</key>
	<string>212121</string>
	<key>SH</key>
	<string>663300</string>
	<key>SICA</key>
	<string>8b7500</string>
	<key>SICE</key>
	<string>2e8b57</string>
	<key>SIE</key>
	<string>757575</string>
	<key>SL</key>
	<string>330000</string>
	<key>SPM</key>
	<string>7ccd7c</string>
	<key>SS</key>
	<string>3333cc</string>
	<key>SSE</key>
	<string>ff3030</string>
	<key>STE</key>
	<string>8b4789</string>
	<key>ScienceFiction</key>
	<string>b03060</string>
	<key>Score</key>
	<string>00ff00</string>
	<key>SearchEngine</key>
	<string>8b4513</string>
	<key>Security</key>
	<string>03366</string>
	<key>SecurityDivision</key>
	<string>336600</string>
	<key>Selfsupport</key>
	<string>660099</string>
	<key>ShaHe</key>
	<string>778899</string>
	<key>Shaanxi</key>
	<string>424242</string>
	<key>Shandong</key>
	<string>666633</string>
	<key>Shanxi</key>
	<string>cc0000</string>
	<key>Showcase</key>
	<string>8b814c</string>
	<key>Shuttlecock</key>
	<string>009966</string>
	<key>Sichuan</key>
	<string>8b7b8b</string>
	<key>Sk8</key>
	<string>8e8e8e</string>
	<key>Skating</key>
	<string>858585</string>
	<key>SoftDesign</key>
	<string>8b2252</string>
	<key>StudentAffairs</key>
	<string>808000</string>
	<key>StudentQuery</key>
	<string>666699</string>
	<key>StudyShare</key>
	<string>D01F3C</string>
	<key>SuperStar</key>
	<string>009900</string>
	<key>Swim</key>
	<string>006666</string>
	<key>TV</key>
	<string>990000</string>
	<key>TVGame</key>
	<string>551a8b</string>
	<key>Tabletennis</key>
	<string>0000cc</string>
	<key>Taekwondo</key>
	<string>669933</string>
	<key>Talking</key>
	<string>71c671</string>
	<key>Tennis</key>
	<string>800080</string>
	<key>Tianjin</key>
	<string>669900</string>
	<key>Ticket</key>
	<string>8b7d6b</string>
	<key>Travel</key>
	<string>8b1a1a</string>
	<key>Tshirt</key>
	<string>080808</string>
	<key>VideoCool</key>
	<string>cc0066</string>
	<key>Volleyball</key>
	<string>242424</string>
	<key>WE</key>
	<string>32cd32</string>
	<key>WOW</key>
	<string>8b5742</string>
	<key>WOWBuptGuild</key>
	<string>6a5acd</string>
	<key>WWWTechnology</key>
	<string>cc3366</string>
	<key>Weather</key>
	<string>333366</string>
	<key>Windows</key>
	<string>8b7d7b</string>
	<key>WorkLife</key>
	<string>336666</string>
	<key>Xinjiang</key>
	<string>ff0033</string>
	<key>Xyq</key>
	<string>838b8b</string>
	<key>Zhejiang</key>
	<string>8b475d</string>
	<key>buptAUTA</key>
	<string>dc143c</string>
	<key>cnAdmin</key>
	<string>595959</string>
	<key>cnAnnounce</key>
	<string>6959cd</string>
	<key>cnLists</key>
	<string>5c5c5c</string>
	<key>cnTest</key>
	<string>c67171</string>
	<key>daonian</key>
	<string>660033</string>
	<key>dotNET</key>
	<string>404040</string>
	<key>nVote</key>
	<string>FF1A00</string>
	<key>notepad</key>
	<string>cd0000</string>
	<key>sysop</key>
	<string>cd3333</string>
	<key>test</key>
	<string>3cb371</string>
	<key>vote</key>
	<string>303030</string>
</dict>
</plist>
