body{
    margin:5 10 20 10px;
    background-color:#f6f6f6;
}

#content{
    font-size:22px;
    color:black;
}

.img-parent{
    text-align:center;
}

.img-parent img{
    width:96%;
}

.audio-parent{
    text-align:center;
}

.audio-parent audio{
    min-height:100px;
    width:96%;
    margin:5px;
}

